/* css for modals that pop up */

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.425);
}

#modal-content {
  position: absolute;
  background: linear-gradient(180deg,
      #1c2e20 0%,
      #0d1310 100%);
  border: 2px ridge var(--border-color);
  border-radius: 16px;
  min-height: 200px;
  min-width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
}


@media(max-width: 650px) {
  #modal-content {
    width: 70%;
    max-height: 90%;
  }
}