#footer-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-width: 400px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer content stays at the bottom */
.footer-content {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,
        #0d1310 0%,
        #1c2e20 100%);
    border-top: 2px ridge rgba(65, 203, 65, 0.19);
    color: #aab7a8;
    font-size: 0.85rem;
}

.about-us:hover {
    color: white;
}

/* SVG container */
.svg-container {
    position: absolute;
    bottom: 30px; /* Place it just above the footer */
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 0;
    z-index: 2; /* Ensure the SVG appears on top */
    transition: height 0.5s ease-in-out; /* Smooth animation for expansion */
}

/* When SVG is visible */
.svg-container.show {
    height: 280px; /* Match the height of the SVG */
}

/* When SVG is hidden */
.svg-container.hide {
    height: 0; /* Collapse the SVG smoothly */
}





.footer {
  height: 40px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  background: rgba(17, 21, 28, 0.8);
  border-top: 1px solid rgba(255,255,255,0.08);
  color: rgba(255,255,255,0.7);
}

.footer-links {
  display: flex;
  gap: 26px;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.footer-links a:hover {
  opacity: 1;
  transform: translateY(-2px);
}