
.calendar-section {
    height: 80px;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.calendar-title {
    margin: 0px;
    letter-spacing: 0.1rem;
    margin-top: 20px;
    font-size: 1.8rem;
}

.calendar-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.calendar-actions-alignment {
    display: flex;
    gap: 10px;
    margin: 0px 20px;
}
