.resource-search-list-container {
    background-color: orange;
    min-height: 400px;
    min-width: 800px;
}

.resource-search-results {
    margin: 16px;
    display: flex;
    gap: 20px;
}

.link-image {
    max-width: 100px;
    border-radius: 3px;
}
