



/* Profile Main container */
#profile-full-card {
    padding: 60px 40px;
}

#profile-nav-tabs-container {
    display: flex;
    margin-top: 40px;
}

.profile-tab,
.profile-tab-selected {
    padding: 5px;
    width: 130px;
    height: 20px;
    text-align: center;
    border: 1px solid rgb(44, 42, 42);
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

.profile-tab {
    background-color: rgb(183, 183, 183);
}

.profile-tab:hover {
    background-color: rgb(201, 201, 201);
}

.profile-tab-selected {
    background-color: rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}



.profile-selected-section {
    margin: 60px, 160px, 0px, 160px;
    padding-bottom: 60px;
    min-height: 80%;
    /* width: auto; */
    background-color: rgb(231, 231, 231);
    border: 4px solid rgb(194, 28, 28);
    /* border-top: none; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; */
}

.profile-selected-section h1 {
    /* margin: 0px; */
    padding: 20px
}

/* Questions section */
.question-display {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
}

.questions-card {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: 14px 0px;
    width: 100%
}

.view-question-answer {
    width: 95.8%;
    line-height: 2.5;
    padding-left: 40px;
    transition: ease-in 0.3s;
}

.view-question-answer:hover {
    background-color: rgb(224, 224, 224);
}

.question-alignment-w-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.delete-question-btn {
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.delete-question-btn:hover {
    background-color: rgb(224, 224, 224);
}

.question-alignment {
    display: flex;
    gap: 10px;
}

.answer-display {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-display span {
    margin: 10px 0px;
    padding: 8px 40px;
    background-color: rgb(224, 224, 224);
}

/* Reflections section */

.reflection-title-and-creation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-reflection-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reflections-date-title {
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.closed-reflection-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    /* width: 80%; */
    transition: ease-in 0.3s;
}

.open-reflection-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(224, 224, 224);
    margin: 18px 0px
}

.container-reflection-cards {
    width: 100%;
}

.open-reflection-container {
    flex: 1;
    padding: 4px 60px;
    background: rgba(187, 227, 208, 0.172);
    border: 1px solid rgba(255, 255, 255, 0.386);
    border-radius: 12px;;

}

.selected-reflection-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transform: translateY(-10px);

  transition:
    max-height 0.5s ease,
    opacity 0.25s ease,
    transform 0.5s ease;
}

.selected-reflection-wrapper.open {
  max-height: 1200px; /* large enough for content */
  opacity: 1;
  transform: translateY(0);
}

.reflections-questions-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
    cursor: pointer;
    margin: 30px 0px;
    flex-direction: column;
}

.closed-reflection-card:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.reflection-projects {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.delete-reflection {
    margin-right: 40px;
}

.open-reflection-card {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding-bottom: 20px;
}


/* Model click items in profile */
.modal-text-item > li {
    list-style-type: none;
    margin: 20px;
    transition: ease-in 0.3s;
    cursor: pointer;
    height: 30px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-text-item > li:hover {
    background-color: rgb(224, 224, 224);
}


/* Calender styling */
.calender-title-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 10px 0px;
}

.calender-title-buttons-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 10px 0px;
}

.calender-title-buttons-flex label {
    display: flex;
    gap: 10px
}

.calender-title-buttons-flex input {
    cursor: pointer;
    text-align: center;
}

.cal-dates-flex {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    border: 2px solid purple;
}

.cal-tasks-flex {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

.date-transition {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid rgb(192, 192, 192);
    /* background-color: rgb(231, 231, 231); */
    /* border-bottom: 1px solid rgba(128, 128, 128, 0); */
}

.date-transition:hover {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(231, 231, 231);
}

.task-calender-results {
    display: flex;
    justify-content: space-between;
}

/* Listed Task Styling */
.calender-search-results {
    width: 100%;
    margin: 8px 10px;
    display: flex;
    gap: 4px;
}

.future-uncompleted-task,
.completed-task,
.uncompleted-task,
.old-uncompleted-task {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.completed-task {
    text-decoration: line-through;
}

.uncompleted-task {
    border-left: 3px solid #facc15;
    padding-left: 8px;
}

.old-uncompleted-task {
    border-left: 3px solid #fa1515;
    padding-left: 8px;
}




/* Search Styling */

.resource-search-results {
    width: 100vw;
    margin: 0;
    height: auto;
    line-height: 2.5;
    display: flex;
    justify-content: center;
}

.resource-search-results a {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.search-search-bar {
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    /* width: 60%; */
}

.page-title {
    display: flex;
    width: 100%;
    justify-content: center;
}





.btns-for-search {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: rgb(128, 64, 0);
    color: white;
    border: none;
    cursor: pointer;
}



/* .resource-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
} */

.resource-links div {
    width: 100%;
}

.search-search-bar input {
    /* width: 65%; */
    height: 100%
}

.search-submit-clear-btns {
    display: flex;
    justify-content: space-around;
}

/* .search-submit-clear-btns button:hover {
    background-color: rgb(224, 224, 224);
} */
.calender-check {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 36px
}

.calender-check:hover {
    color: green;
}

/* unassigned tasks */

.task-spacing {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    margin: 16px;
}

.width-size {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding-left {
    padding-left: 60px;
}


/* Styling for search chart container */

.search-chart-container {
    /* border: 1px solid green; */
    width: 100%;
    /* min-height: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
