/* Profile Main container */
#profile-full-card {
    padding: 0px 40px;
}

#profile-nav-tabs-container {
    display: flex;
}

.profile-tab,
.profile-tab-selected {
    padding: 5px;
    width: 80px;
    height: 20px;
    text-align: center;
    border: 1px solid rgb(44, 42, 42);
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

.profile-tab {
    background-color: rgb(133, 130, 130);
}

.profile-tab-selected {
    background-color: rgb(218, 216, 216);
    border-bottom: 1px solid rgb(218, 216, 216);
}

.profile-selected-section {
    background-color: rgb(218, 216, 216);
    border: 1px solid rgb(44, 42, 42);
    border-top: none;
}

.profile-selected-section h1 {
    margin: 0px;
    padding: 20px
}

/* Questions section */

.questions-card {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: 30px;
}


/* Reflections section */

.reflection-title-and-creation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center-reflection-filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.closed-reflection-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reflections-questions-card {
    display: flex;
    align-items: center;
    padding-left: 80px;
    line-height: 1.5;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.reflections-questions-card:hover {
    background-color: rgb(188, 188, 188);
}

.reflection-projects {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.delete-reflection {
    margin-right: 40px;
}

.open-reflection-card {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding-bottom: 20px;
}


/* Model click items in profile */
.modal-text-item > li {
    list-style-type: none;
    margin: 20px;
    transition: ease-in 0.5s;
    cursor: pointer;
}

.modal-text-item > li:hover {
    background-color: aquamarine;
}
