/* TODO: Add sitewide styles */

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(189, 189, 248);
}


/* Use classname's on all elements which require these functions */
.add-pointer-cursor {
    cursor: pointer;
}

.highlight-underline:hover {
    text-decoration: underline;
}
