/* Color Variables */
:root {
    --primary-color: rgb(171, 232, 171);
    --secondary-color: green;
    --hover-color: darkgreen;
    --border-color: rgb(11, 77, 11);
}

/* TODO: Add sitewide styles */

body {
    margin: 0 !important;
    padding: 0 !important;
}

.standard-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.standard-button:hover {
    background-color: var(--hover-color);
}

/* Use classname's on all elements which require these functions */
.add-pointer-cursor {
    cursor: pointer;
}

.highlight-underline:hover {
    text-decoration: underline;
}

.displayed-title {
    font-size: 22px;
    font-weight: 600;
}

h3,
h4 {
    margin: 10px 0px;
}


.flex-basic {
    display: flex;
    justify-content: space-between;
}

.sixty-width {
    width: 60%
}


.errors,
.no-errors {
    margin: 0px;
    font-size: 14px;
}

.errors {
    color: red
}

.no-errors {
    color: var(--primary-color)
}
