#navigation-bar {
    background-color: rgb(171, 232, 171);
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px ridge rgb(11, 77, 11);
}

.hamburger-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}

.hamburger-menu svg {
    font-size: 20px;
    cursor: pointer;
}

.hamburger-dropdown {
    display: flex;
    flex-direction: column;
}

.hamburger-dropdown button {
    margin: 10px;
}

.login-signup-btn-container {
    display: flex;
    margin-right: 80px;
    gap: 40px;
    width: 300px;
    justify-content: space-around;
}

.login-signup-btns,
.hamburger-btns {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.hamburger-btns {
    padding: 6px;
    width: 80%;
}

.login-signup-btns {
    padding: 10px;
    width: 48%;
}

.login-signup-btns:hover,
.hamburger-btns:hover {
    background-color: darkgreen;
}

.signup-btn {
    margin-top: 20px;
}

/* Profile Button Elements*/
.profile-dropdown {                      /* Profile dropdown container */
    list-style: none;
    background-color: green;
    width: 100%;
    position: fixed;
    right: 0px;
}

.profileButton-nav-link,
.profileButton-nav-name {
    line-height: 1.8;
    font-weight: 700;
}

.profileButton-nav-name {
    font-size: 22px;
}

.profileButton-nav-link {
    font-size: 18px;
}

.profileButton-nav-link:hover {
    text-decoration: underline;
}


.login-dropdown {
    position: absolute;
    top: 60px;
    right: 0px;
}

.login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

.login-form button {
    margin: 10px 0;
    padding: 10px 20px;
    width: 70%;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}



/* Below is all playing around with SVG */

#wave {
    display: block;
    position: fixed;
    top: -22px;
    width: 100%;
}

#wave button {
    position: relative;
    top: 100px;
    left: 8%
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: white;
    right: -25%;
    top: 20px
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: rgb(57, 27, 112);
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
}
